body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.map-container {
  background: linear-gradient(to bottom right, rgba(147, 39, 224, 0.05), rgba(32, 77, 116, 0.05));
  border: 2px solid rgba(85, 45, 114, 0.2);
  border-radius: 1.5rem;
  padding: 1.5rem;
}

@media (min-width: 640px) {
  .map-container {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .map-container {
    padding: 3rem;
  }
}

.chart-div {
  width: 100%;
  height: 95vh;
  min-height: 200px;
  max-height: 400px;
  border-radius: 1rem;
  overflow: hidden;
}